:root {
  --title-color: #322153;
  --primary-color: #34cd79;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}
